/* Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	aliases {
		custom-uart = &uart1;
	};
};

&pinctrl {
	custom_uart_default: custom_uart_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RX, 0, 8)>;
		};
	};
};

&uart1 {
    pinctrl-0 = <&custom_uart_default>;
    current-speed = <115200>;
    status = "okay";
};

&flash0 {
    partitions {
        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0x000f8000 0x00008000>; // 示例：从 992KB 开始，大小 32KB
        };
    };
};